.container__main__matchDetails{
    width: 60rem;
    border: .1rem solid var(--dark);
    border-radius: 1rem;
    padding: 3rem;
}


.matchDetail__container__heading{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: .1rem solid var(--dark);
}

.teams__image__container div{
    height: 20rem;
}

.teams__image__container span{
    margin-left: auto;
    font-size: 2rem;
}

.teams__image__container div img{
    height: 100%;
    cursor: pointer;
}

.image__team2{
    margin-left: auto;
}


.detail__teamNames{
    font-size: 2rem;
    font-family: var(--font-heading);
}

.detail__teamNames span{
    margin-left: auto;
}


.match__result{
    font-size: 2rem;
    font-weight: bold;
}

.match__resultType,
.match__season,
.toss_winner,
.match__venue,
.match__manOfTheMatch{
    font-size: 2rem;
    font-family: var(--heading);
    margin-top: 1rem;
}

.text__bold{
    font-weight: bold;
}


/* ------------------------------------------MEDIA QUERIES */

@media only screen and (max-width:650px){

    .container__main__matchDetails{
        width: 90%;
    }

    .teams__image__container div{
        height: 13rem;
    }
    
    .teams__image__container span{
        margin-left: auto;
        font-size: 1.4rem;
    }


    .detail__teamNames{
        font-size: 1.8rem;
        font-family: var(--font-heading);
        font-weight: bold;
    }
    
}
