.contaier__main__matchListItem{
    border: .1rem solid var(--dark);
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: 200ms;
}

.contaier__main__matchListItem:hover{
    transform: scale(1.01);
    background-color: var(--primary-shade);
}

.contaier__main__matchListItem span{
margin-left: auto;
}

