.container__main__navbar{
    height: 6rem;
    background-color: black;
}

.navbar__brandName{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--font-heading);
    margin-left: 6rem;
    cursor: pointer;
    transition: 300ms;
}


.navbar__brandName:hover{
    color: rgb(190, 190, 190);
}
